.card-container {
    display: flex;
    margin: 25px;
}

.card-header {
    background-color: lightblue;
    border: 3px solid black;
    border-bottom: none;
    text-align: center;
}

.card-body {
    border: 3px solid black;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}
